@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1f2936;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 200px 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.logo {
    width: 750px;
    font-weight: 900;
    color: #f9faf8;
    font-size: 32px;
    padding-right: 32px;
}

ul  {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 24px;
    gap: 32px;
    flex-shrink: 0;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    background-color: #1f2936;
    width: auto;
    padding: 0 200px;
    flex-wrap: wrap;

}

.main-text {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    color: #f9faf8;
    width: 500px;
    font-weight: bolder;
    flex-shrink: 0;
    flex-wrap: nowrap;
}

.sub-main-text {
    font-size: 24px;
    color: #f9faf8;
    max-width: 600px;
    padding: 16px 0 4px;
    
}

.puppy {
    width: 770px;
    height: 350px;
}

.sign-up-button {
    background-color: #3882F6;
    border-radius: 15px;
    padding: 12px 48px;
    color: #f9faf8;
    font-weight: 900;
    font-size: 24px;
    border: none;
    margin-top: 12px;
    max-height: 60px;
}

.info-container {
    background-color: white;
    margin: 0;
    padding: 0;
    flex: wrap;
    
}

.ri-header {
    columns: #1F2937;
    font-size: 48px;
    font-weight: 1000;
    text-align: center;
    padding: 72px;
}

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 6em;
    margin-bottom: 10%;
}

.box-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    border: 6px solid #3882F6;
    border-radius: 30px;
}

.box-text {
    text-align: center;
    max-width: 250px;
    padding: 8px 24px;
    font-size: 24px;
    color: #1F2937;
    font-weight: 500;
}

.quote-container {
    width: auto;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em 6em;
}

.quote-text-container {
    max-width: 1100px;
}

.quote-text {
    padding: 0;
    font-size: 48px;
    font-weight: lighter;
    font-style: italic;
    color: #47505c;
}

.quote-author {
    font-weight: 900;
    font-size: 36px;
    display: flex;
    justify-content: flex-end;
}

.cta-container {
    height: 500px;
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    display: flex;
    justify-content: space-around;
    width: 1400px;
    height: 200px;
    background-color: #3882F6;
    align-items: center;
    border-radius: 10px;
}

.cta-text {
    color: #e5e7eb;
}

.cta-header {
    font-size: 32px;
    font-weight: 900;
}

.cta-sub-text {
    font-size: 24px;
}

.white-border {
    border: 3px solid #f9faf8;
}

.footer {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 130px;
    background-color: #1F2937;
    font-size: 24px;
    color: #e5e7eb;
    align-items: center;
}