@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body, ul, li {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #1f2936;
    overflow: hidden;
    padding: 1% 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.logo {
    font-weight: 900;
    color: #f9faf8;
    font-size: 24px;
    padding-right: 32px;
}

ul  {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    gap: 24px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.top-container {
    height: 100%;
    background-color: #1f2936;
    padding: 7% 10% 10%;
}

.sub-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 3px solid yellow; */
}

.left-text,
.main-text {
    max-width: 100%;
}

.left-text {
    /* border: 3px solid green; */
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    width: 8em;
    font-weight: bolder;
    /* border: 3px solid blue; */
    flex: 2;
}

.sub-main-text {
    font-size: 18px;
    color: #f9faf8;
    max-width: 25em;
    padding: 16px 0 4px;
    flex-wrap: wrap;
    /* border: 3px solid orange; */
    flex: 1;

}

.right-content {
    /* border: 3px solid red; */
}

.puppy {
    width: 480px;
    height: auto;
    max-width: 100%;
}

.sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 0.5em;
    color: #f9faf8;
    font-weight: 900;
    font-size: 18px;
    border: none;
    margin: 12px 0;
    max-height: 60px;
    white-space: nowrap;
    width: 7em;
}

.info-container {
    background-color: white;
    padding: 0 10%;
    
}

.info-header {
    color: #1F2937;
    font-size: 48px;
    font-weight: 1000;
    text-align: center;
    padding: 72px;
}

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.box-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    border: 6px solid #3882F6;
    border-radius: 30px;
}

.box-text {
    text-align: center;
    max-width: 250px;
    font-size: 24px;
    color: #1F2937;
    font-weight: 500;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em 6em;
}

.quote-text-container {
    max-width: 1100px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #47505c;
}

.quote-author {
    font-weight: 900;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.cta-container {
    height: 500px;
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    display: flex;
    justify-content: space-around;
    width: 1400px;
    height: 159px;
    background-color: #3882F6;
    align-items: center;
    border-radius: 10px;
    margin: 10%;
}

.cta-text {
    color: #e5e7eb;
}

.cta-header {
    font-size: 24px;
    font-weight: 900;
}

.cta-sub-text {
    font-size: 18px;
}

.white-border {
    border: 3px solid #f9faf8;
}

.footer {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #1F2937;
    font-size: 18px;
    color: #e5e7eb;
    align-items: center;
}