body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1f2936;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 300px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.logo {
    width: 730px;
    font-weight: 900;
    color: #f9faf8;
    font-size: 24px;
    padding-right: 32px;
}

ul  {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 32px;
    flex-shrink: 0;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.top-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-color: #1f2936;
    width: auto;
    padding: 0 300px;

}

.main-text {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    color: #f9faf8;
    width: 350px;
    font-weight: 900;
    flex-shrink: 0;
    flex-wrap: nowrap;
}

.sub-main-text {
    font-size: 24px;
    color: #f9faf8;
    max-width: 600px;
    
}

.puppy {
    width: 600px;
    height: 280px;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 8px 32px;
    color: #f9faf8;
    font-weight: 700;
    font-size: 20px;
    border: none;
    margin-top: 12px;
}

.info-container {
    background-color: white;
    height: 500px;
    margin: 0;
    padding: 0;
    
}

.ri-header {
    columns: #1F2937;
    font-size: 36px;
    font-weight: 1000;
    text-align: center;
    padding: 48px;
}

.box-container {
    display: flex;
    justify-content: space-around;
    padding: 0 500px;
}

.box-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.box-text {
    text-align: center;
    max-width: 150px;
    padding: 8px 24px;
}